/* CSS Document */

body {
	background-color:#fff;
	background-position:center;
	background-repeat:repeat-y;
	font-family: "Lucida Grande","Lucida Sans Unicode",geneva,verdana,sans-serif;
	color:#777;
	font-size:12px;
}
#container {
	width:800px;
	margin: 0 auto;
}

#header {
	background-color:#eeeeee;
	margin:10px;
	padding:30px 10px 30px 10px;
	border-top:2px solid #ccc;
}

#header h1 {
	text-align:center;
	font-family:Trebuchet MS, Geneva, Arial, Helvetica, sans-serif;
	font-size:40px;
	color:#333;
	margin:0;
	font-weight:normal;
}
#header h1 strong {
	color:#A85BA6;
}
#header h1 a {
	color:#333;
	text-decoration:none;
}
#header h2 {
	font-size:11px;
	font-weight:normal;
	text-align:center;
	color:#999;
}
#header ul {
	margin:20px 0 0 0;
	padding:0;
}
#header li {
	margin:0;
	padding:0;
	list-style:none;
	float:left;
}
#header li a {
	display:block;
	padding:7px;
	color:#999;
	text-decoration:none;
	border-bottom:5px solid #fff;
	margin:0 10px 0 0;
	font-size:10px;
}
#header li a:hover {
	color:#000;
	border-bottom:7px solid #fff;
	padding:5px 7px 7px 7px;
}
#header li a em {
	font-style:normal;
	text-decoration:underline;
}

#sidebar {
	float:right;
	width:194px !important;
	width:154px;
	margin:40px 10px 10px 0;
}

#sidebar h1 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000;
	margin:10px 5px 15px 10px;
}
#sidebar p {
	padding:5px;
	margin:5px 5px 5px 10px;
	line-height:17px;
	word-spacing:-1px;
}

ul.submenu {
	margin:0;
	padding:0;
}
.submenu li {
	margin:0;
	padding:0;
	list-style:none;
}
.submenu a {
	display:block;
	height:13px;
	padding:7px 7px 7px 17px;
	margin:1px 0 0 0;
	background-color:#fff;
	background-position:left;
	background-repeat:repeat-y;
}
.submenu a:hover {
	background-position:bottom;
	background-repeat:no-repeat;
	background-color:#fff;
	padding:7px 7px 7px 15px;
}
.submenu a:focus {
	background-position:bottom;
	background-repeat:no-repeat;
	background-color:#fff;
	padding:7px 7px 7px 15px;
}
.submenu a:active {
	background-position:bottom;
	background-repeat:no-repeat;
	background-color:#fff;
	padding:7px 7px 7px 15px;
}

.note {
	padding:10px;
	background-color:#eee;
	border:1px solid #ccc;
	margin:20px 5px 20px 5px;
}


#content {
	margin:10px 185px 10px 10px;
}
#content h1 {
	font-family:Trebuchet MS, Geneva, Arial, Helvetica, sans-serif;
	font-size:18px;
	border-bottom:1px solid #eee;
	padding:5px;
	color:#000;
}
#content h1 a {
	color:#000;
	text-decoration:none;
	display:block;
	background-position:right;
	background-repeat:no-repeat;
}
#content h1 a:hover {
	color:#444;
}
#content h2 {
	font-size:11px;
	color:#ccc;
	margin:10px 0 10px 0;
	padding:5px;
}
#content p {
	padding:5px;
	font-size:14px;
	line-height:18px;
	word-spacing: 0.1em;
}
#content .article_menu {
	text-align:right;
	padding:5px;
	margin:10px 0 20px 0;
	border-top:1px solid #eee;
}
#content .article_menu b {
	float:left;
	font-weight:normal;
}
#content .article_menu a {
	padding:0 0 0 15px;
	background-position:left;
	background-repeat:no-repeat;
	color:#333;
	text-decoration:none;
}
#content p a {
	color:#333;
	text-decoration:none;
}

#content p:hover a {
	border-bottom:1px dotted #000;
}
#content p:hover a:hover {
	border-bottom:1px solid #000;
}
#content .article_menu a:hover {	
	color:#000;
}
#content ul {
	margin:0 0 0 15px;
	padding:0;
	border-top:1px solid #f6f6f6;
}
#content li {
	margin:5px 0 5px 0;
	border-bottom:1px solid #f6f6f6;
	padding:0 0 5px 20px;
	font-size:14px;
	list-style:none;
	background-position:top left;
	background-repeat:no-repeat;
	color:#999;
}

#content blockquote {
	background-color:#f6f6f6;
	margin:4px;
	padding:5px;
	text-align:center;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
}
#content blockquote p {
	margin:0;
	padding:0 10px 0 10px;
}

/* ========================== */
#ifYes {
	margin:10px 185px 10px 10px;
}
#ifYes h1 {
	font-family:Trebuchet MS, Geneva, Arial, Helvetica, sans-serif;
	font-size:18px;
	border-bottom:1px solid #eee;
	padding:5px;
	color:#000;
}
#ifYes h1 a {
	color:#000;
	text-decoration:none;
	display:block;
	background-position:right;
	background-repeat:no-repeat;
}
#ifYes h1 a:hover {
	color:#444;
}
#ifYes h2 {
	font-size:11px;
	color:#ccc;
	margin:10px 0 10px 0;
	padding:5px;
}
#ifYes p {
	padding:5px;
	font-size:14px;
	line-height:18px;
	word-spacing: 0.1em;
}
#ifYes .article_menu {
	text-align:right;
	padding:5px;
	margin:10px 0 20px 0;
	border-top:1px solid #eee;
}
#ifYes .article_menu b {
	float:left;
	font-weight:normal;
}
#ifYes .article_menu a {
	padding:0 0 0 15px;
	background-position:left;
	background-repeat:no-repeat;
	color:#333;
	text-decoration:none;
}
#ifYes p a {
	color:#333;
	text-decoration:none;
}

#ifYes p:hover a {
	border-bottom:1px dotted #000;
}
#ifYes p:hover a:hover {
	border-bottom:1px solid #000;
}
#ifYes .article_menu a:hover {	
	color:#000;
}
#ifYes ul {
	margin:0 0 0 15px;
	padding:0;
	border-top:1px solid #f6f6f6;
}
#ifYes li {
	margin:5px 0 5px 0;
	border-bottom:1px solid #f6f6f6;
	padding:0 0 5px 20px;
	font-size:14px;
	list-style:none;
	background-position:top left;
	background-repeat:no-repeat;
	color:#999;
}

#ifYes blockquote {
	background-color:#f6f6f6;
	margin:4px;
	padding:5px;
	text-align:center;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
}
#ifYes blockquote p {
	margin:0;
	padding:0 10px 0 10px;
}

/* ========================== */
.comment_odd {
	background-color:#f6f6f6;
	padding:10px;
	border-top:1px solid #fff;
	border-bottom:1px solid #eee;
}
.comment_even {
	padding:10px;
	background-color:#fcfcfc;
	border-top:1px solid #fff;
	border-bottom:1px solid #eee;
}
.comnum {
	float:right;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:25px;
	color:#ccc;
}
input, textarea {
	background-color:#fff;
	border:1px solid #ccc;
	padding:3px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#777;
}
#footer {
	background-color:#eee;
	border-top:0px solid #ccc;
	padding:2px;
	text-align:center;
}

a {
	color:#333;
	text-decoration:none;
}

/* ==========================CSS FOR FORM============================ */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* { 
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

/* body {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-size: 12px;
	line-height: 30px;
	color: #777;
	background: #4CAF50;
} */

.container {
	max-width: 400px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	border-radius: 10px;
}

#contact select,
#contact input[type="number"],
#contact textarea,
#contact button[type="submit"] {
	font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
	background: #F9F9F9;
	padding: 25px;
	margin: 20px 0;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
	display: block;
	font-size: 30px;
	font-weight: 300;
	margin-bottom: 10px;
}

#contact h4 {
	margin: 5px 0 15px;
	display: block;
	font-size: 13px;
	font-weight: 400;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact select,
#contact input[type="number"],
#contact textarea {
	width: 100%;
	border: 1px solid #ccc;
	background: #FFF;
	margin: 0 0 5px;
	padding: 10px;
}

#contact select,
#contact input[type="number"],
#contact textarea:hover {
	-webkit-transition: border-color 0.3s ease-in-out;
	-moz-transition: border-color 0.3s ease-in-out;
	transition: border-color 0.3s ease-in-out;
	border: 1px solid #aaa;
}

#contact textarea {
	height: 100px;
	max-width: 100%;
	resize: none;
}

#contact button[type="submit"] {
	cursor: pointer;
	width: 100%;
	border: none;
	background: #09093b;
	color: #FFF;
	margin: 0 0 5px;
	padding: 10px;
	font-size: 15px;
}

#contact button[type="submit"]:hover {
	background: #151570;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
	text-align: center;
}

#contact input:focus,
#contact textarea:focus {
	outline: 0;
	border: 1px solid #aaa;
}

::-webkit-input-placeholder {
	color: #888;
}

:-moz-placeholder {
	color: #888;
}

::-moz-placeholder {
	color: #888;
}

:-ms-input-placeholder {
	color: #888;
}
